nav {
    display: flex; /* step 3 */
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#title-h1 {
    margin-left: auto;
    margin-right: auto;
}

#main-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main, header, footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 10%; /* Step 2 */
    max-width: 80%;
}

img {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    min-width: 10%;
    max-width: 80%;
}

.fav-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.fav-grid li {
    padding: 15px;
    border: 1px;
    text-align: center;
    align-content: center;
}